#ahorcado{
    height: 318px;
    width: 307px;
    background-image: url(./ahorcadito.png);
}
#ganador{
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;

}

#perdedor{
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}