* {
    transition: all0.25s;
}

body {
    font-size: 120%;
    margin: 0;
    padding: 0;
    background: steelblue;
    background-image: url(https://i.ibb.co/bzmf6rG/6b71e0c74e6b42f53de0cefb7884f704.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#encabezado {
    width: 80vw;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

}

.opcion {
    text-align: center;
    width: 80vw;
    background: white;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.opcion:hover {
    background: rgb(38, 142, 190);
}

.img-opciones {
    width: 300px;
    height: 200px;
    object-fit: contain;
}