* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

.contenedor {
  padding: 0px;
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  border: 10px dashed rgb(116, 66, 66);
}

#player {
  background-color: blueviolet;
  border: 4px dashed #fff;
  width: 50px;
  height: 50px;
  border-radius: 29px;
  position: absolute;
  transition: all 0.3s;
}

.pointer {
  background-color: rgb(20, 31, 27);
  height: 30px;
  margin-top: 50px;
  border-bottom: 0px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 10px 0px;
}
